.destra-contenuto {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 25% 50% 25%;
}

.destra-contenuto>div {
    display: flex;
    justify-content: center;
}

#value-content-centrale {
    transform: translate(0%, 10%);
    height: fit-content;
}

.box-linguaggio,
.box-autonomie {
    position: relative;
    left: 15%;
}

.box-gioco {
    position: relative;
    bottom: 15%;
}

.box-spunti {
    position: relative;
    bottom: 15%;
    left: 30%;
}

.box-campanelli {
    position: relative;
    bottom: 15%;
    left: 20%;
}

figure {
    height: fit-content;
    width: fit-content;
}

figcaption {
    text-align: center;
}

#box:hover {
    zoom: 1.2;
}

div.content-years-range {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
}

div#value-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: fit-content;
    height: 55vh;
    padding: 0% 3% 2% 3%;
    font-size: 1.2em;
    overflow-y: scroll;
}

a.disabled {
    pointer-events: none;
}

a.enabled {
    pointer-events: all;
}

.close {
    position: absolute;
    width: 2em;
    height: 2em;
    top: .5em;
    right: -1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: end;
}

.close::after {
    content: 'X';
    color: #000;
    font-weight: 700;
}

#section-title {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    font-size: 1.2em;
}

/* @media screen and (min-width: 0px) and (max-width: 425px) {}

@media screen and (min-width: 426px) and (max-width: 768px) {} */

@media screen and (min-width: 0px) and (max-width: 1024px) {
    .destra-contenuto {
        height: 100vh;
        width: 95vw;
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 22.5vh 55vh 22.5vh 25vh;
        grid-template-areas:
            'linguaggio autonomie'
            'centrale centrale'
            'gioco spunti'
            'campanelli campanelli';
    }

    .box-linguaggio {
        grid-area: linguaggio;
        justify-self: center;
        left: 0;
    }

    .box-autonomie {
        grid-area: autonomie;
        justify-self: center;   
        left: 0;
    }

    #box-testo {
        position: relative;
        width: 90vw;
        height: fit-content;
        top: 20%;
        left: 10%;
        break-inside: break-word;
    }

    .box-gioco {
        grid-area: gioco;
        justify-self: center;
        left: 0;
    }

    .box-spunti {
        grid-area: spunti;
        justify-self: center;
        left: 0;
    }

    .box-campanelli {
        grid-area: campanelli;
        justify-self: center;
        left: 0;
    }

    div#value-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: fit-content;
        height: 80vh;
        width: 80vw;
        padding: 0% 3% 2% 3%;
        font-size: 1.2em;
        overflow-y: scroll;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1520px) {
    #value-content-centrale {
        transform: translate(0%, 0%);
        height: fit-content;
    }
}