.destra-contenuto {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.riga:nth-child(1) {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

.riga:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.riga:nth-child(3) {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.box {
    margin: 0px 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:nth-child(1) {
    width: 100px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:nth-child(2) {
    margin: 40px 0px;
    margin-left: 150px;
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:nth-child(3) {
    margin: 40px 150px;
    margin-top: -110px;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 40px;
    padding-left: 100px;
}

img:hover {
    zoom: 1.2;
}

div.content-years-range {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
}

div#value-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 70vw;
    height: fit-content;
    padding: 2% 3% 2% 3%;
    font-size: 1.2em;
}

a.disabled {
    pointer-events: none;
}

a.enabled {
    pointer-events: all;
}

.close {
    position: absolute;
    width: 2em;
    height: 2em;
    top: 1em;
    right: 1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close::after {
    content: 'X';
    color: #000;
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    html,
    body {
        overflow-y: scroll;
    }

    img {
        zoom: 1.2;
    }

    div#value-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 90vw;
        height: fit-content;
        padding: 2% 3% 2% 3%;
        font-size: 1.1em;
    }

    .box:nth-child(1) {
        display: block;
        justify-self: center;
        margin-left: 0%;
        width: 100vw;
        height: fit-content;
    }

    .box:nth-child(2) {
        display: block;
        justify-self: center;
        margin-left: 0%;
        width: 100vw;
        height: fit-content;
    }

    .box:nth-child(3) {
        display: block;
        justify-self: center;
        padding: 0%;
        margin: 0%;
        width: 100vw;
        height: fit-content;
    }

    .riga:nth-child(1) {
        display: block;
        justify-self: center;
        padding: 0%;
        margin-left: 40%;
        width: 100vw;
        height: fit-content;
    }

    .riga:nth-child(2) {
        display: block;
        justify-self: center;
        padding: 0%;
        margin-left: 40%;
        width: 100vw;
        height: fit-content;
    }

    .riga:nth-child(3) {
        display: block;
        justify-self: center;
        padding: 0%;
        margin-left: 40%;
        width: 100vw;
        height: fit-content;
    }
}