.destra-contenuto {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 25% 55% 15%;
}

.destra-contenuto>div {
    display: flex;
    justify-content: center;
}

#value-content-centrale {
    transform: translate(0%, 10%);
    height: fit-content;
    padding-left: 1rem;
}

.box-linguaggio,
.box-autonomie {
    position: relative;
    left: 15%;
}

.box-gioco {
    position: relative;
    left: 15%;
    bottom: 0;
}

.box-spunti {
    position: relative;
    left: 30%;
    bottom: 0;
}

.box-campanelli {
    position: relative;
    bottom: 0;
    left: 20%;
}

figure {
    height: fit-content;
    width: fit-content;
}

figcaption {
    text-align: center;
}

div.content-years-range {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
}

div#value-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: fit-content;
    height: 55vh;
    padding: 0% 3% 2% 3%;
    font-size: 1.2em;
    overflow-y: scroll;
    z-index: 99999;
}

a.disabled {
    pointer-events: none;
}

a.enabled {
    pointer-events: all;
}

#section-title {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    font-size: 1.2em;
    height: fit-content;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {
    .destra-contenuto {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #value-content-centrale {
        transform: unset;
        width: 100vw;
        height: fit-content;
        margin: 0;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .box-linguaggio,
    .box-autonomie {
        margin: auto;
        left: unset;
    }

    .box-gioco {
        margin: auto;
        left: unset;
        bottom: unset;

    }

    .box-spunti {
        margin: auto;
        bottom: unset;
        left: unset;
    }

    .box-campanelli {
        margin: auto;
        bottom: unset;
        left: unset;
    }

    div#value-content {
        min-width: 80vw;
        max-width: 100vw;
        height: fit-content;
        max-height: 70vh;
        overflow-y: scroll;
        z-index: 99999;
    }

    .sub-title-section {
        font-size: 1.8em;
        display: flex;
        text-align: start;
    }

    .destra-contenuto>:nth-child(1) {
        order: 2;
    }

    .destra-contenuto>:nth-child(2) {
        order: 1;
    }

    .destra-contenuto>:nth-child(3) {
        order: 3;
    }

    .destra-contenuto>:nth-child(4) {
        order: 4;
    }

    .destra-contenuto>:nth-child(5) {
        order: 5;
    }

    .destra-contenuto>:nth-child(6) {
        order: 6;
    }

}