div#image {
    display: inline;
    zoom: 1.2;
    padding-left: 10%
}

.sub-title {
    color: #e5760d;
    font-weight: bold;
}

.sub-title2 {
    color: #e5760d;
    text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {

    html,body {
        width: fit-content;
        height: fit-content;
    }

    #content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0%;
    }

    div#image {
        display: inline;
        zoom: 0.8;
        justify-content: center;
        padding-left: 0%
    }

    div#p1 {
        word-break: break-all;
    }

    #instraction-cointaner {
        padding: 5px 5px 5px 5px;
    }

    #libreria {
        zoom: 0.5;
    }
}