#content {
    display: grid;
    grid-template-columns: 62% 38%;
}

div#image {
    display: inline;
    zoom: 1.2;
    padding-left: 10%
}

#instraction-cointaner {
    border: 4px #354f0b ridge;
    padding: 10px 10px 10px 10px;
}

.sub-title {
    color: #354f0b;
    font-weight: bold;
}

.sub-title2 {
    color: #354f0b;
    font-weight: bold;
    text-decoration: underline;
}


@media screen and (min-width: 0px) and (max-width: 1024px) {

    html {
        width: auto;
    }

    body {
        height: auto;
    }

    #content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    div#image {
        display: inline;
        zoom: 0.8;
        justify-content: center;
        padding-left: 0%
    }

    #instraction-cointaner {
        padding: 5px 5px 5px 5px;
    }
}