#title-site {
    color: #3b5bed;
}

.menu-background {
    background-color: #3b5bed;
}

.sub-title {
    color: #3b5bed;
    font-weight: bold;
}

.sub-title2 {
    color: #3b5bed;
    font-weight: bold;
    text-decoration: underline;
}