#title-site {
    color: #44b513;
}

.menu-background {
    background-color: #44b513;
}

.sub-title {
    color: #44b513;
    font-weight: bold;
}

.sub-title2 {
    color: #44b513;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title-section {
    color: #44b513;
}

.button1 {
    background-color: white;
    color: #44b513;
    border: 2px solid #44b513;
}

.button1:hover {
    color: black;
    background-color: #44b513;
}