@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

body,
head {
    width: 99vw;
    height: 100vh;
    color: #000;
    background-color: #fff;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'data';
}

#header {
    grid-area: header;
    font-size: 3em;
    color: #000;
    display: flex;
    justify-content: center;
}

.title-site {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#title-site {
    display: inline-block;
}

.hamburger {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

#data {
    grid-area: data;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    font-size: 1.2em;
}

#content {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

aside.a {
    width: 100%;
    height: 150px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

aside>div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

aside>div.active-link {
    z-index: 1;
}

a {
    color: #000;
    text-decoration: none;
}

div.menu-links>a {
    padding: auto 0% auto 0%;
    text-align: center
}

aside>div:nth-child(1):hover {
    background-color: #e5760d;
}

aside>div:nth-child(2):hover {
    background-color: #8e1582;
}

aside>div:nth-child(3):hover {
    background-color: #e5760d;
}

aside>div:nth-child(4):hover {
    background-color: #44b513;
}

aside>div:nth-child(5):hover {
    background-color: #3b5bed;
}

aside>div:nth-child(6):hover {
    background-color: #8e1582;
}

aside>div:nth-child(7):hover {
    background-color: #cc0000;
}

aside>div:nth-child(8):hover {
    background-color: #354f0b;
}

aside>div:nth-child(9):hover {
    background-color: #e5760d;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

aside {
    grid-area: aside;
    width: 15%;
    height: 100%;
    display: grid;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: 1px black solid;
}

h1 {
    text-align: center;
}

.list {
    margin-left: 1em;
}

#p1 {
    padding-left: 1em;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    html,
    body {
        width: auto;
        height: auto;
    }

    #header {
        font-size: 2em;
        justify-content: center;
        border-bottom: 1px black solid;
    }

    #data {
        flex-direction: column;
        width: 99.7%;
    }

    aside {
        display: none;
    }

    aside.active {
        display: block;
        width: 100%;
        height: 100%;
    }

    aside>.menu-links {
        height: fit-content;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    html,
    body {
        width: auto;
        height: auto;
    }

    #header {
        font-size: 2em;
        justify-content: center;
        border-bottom: 1px black solid;
    }

    #data {
        flex-direction: column;
        max-width: 100vw;
    }

    aside {
        display: none;
    }

    aside.active {
        display: block;
        width: 100%;
        height: 100%;
    }

    aside>.menu-links {
        height: fit-content;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

}