#content {
    display: flex;
    max-width: 100%;
    align-content: flex-start;
    margin: 1rem;
}

div#image {
    display: inline;
    zoom: 1.2;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
}

#instraction-cointaner {
    border: 4px #447513 ridge;
    padding: 10px 10px 10px 10px;
    background-color: #254605;
    color: #fff;
}

#title-site {
    color: #e5760d;
}

.sub-title {
    color: #e5760d;
    font-weight: bold;
}

.sub-title2 {
    color: #e5760d;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title3 {
    font-style: italic;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {

    html,
    body {
        width: auto;
    }

    #content {
        display: flex;
        flex-direction: column;
        padding: 0%;
        width: fit-content;
        text-align: center;
    }

    div#image {
        display: inline;
        zoom: 0.8;
        justify-content: center;
        padding-left: 0%;
    }

    img {
        max-width: 100%;
    }

    #instraction-cointaner {
        padding: 5px 5px 5px 5px;
        text-align: start;
    }
}