#instraction-cointaner {
    border: 4px #447513 ridge;
    padding: 10px 10px 10px 10px;
    background-color: #254605;
    color: #fff;
    width: max-content;
    max-width: 90vw;
    word-break: normal;
}

#title-site {
    color: #e5760d;
}

.menu-background {
    background-color: #e5760d;
}

.sub-title {
    color: #e5760d;
    font-weight: bold;
}

.sub-title2 {
    color: #e5760d;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title3 {
    font-style: italic;
}

#image{
    display: flex;
    margin: auto;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {

    html,
    body {
        width: auto;
    }

    #content {
        flex-direction: column;
    }

    #image {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    img {
        width: 100%;
    }

    #instraction-cointaner {
        padding: 5px 5px 5px 5px;
    }
}