#content {
    display: grid;
    grid-template-columns: 60% 40%;
}

div#image {
    display: inline;
    zoom: 1.2;
    padding-left: 10%
}

#instraction-cointaner {
    border: 4px #447513 ridge;
    padding: 10px 10px 10px 10px;
    background-color: #254605;
    color: #fff;
}

#sub-title {
    color: #e5760d;
    font-weight: bold;
}

#sub-title2 {
    color: #e5760d;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 1024px) {

    #content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    div#image {
        display: inline;
        zoom: 0.8;
        justify-content: center;
    }

}