#content {
    display: grid;
    grid-template-columns: 60% 40%;
}

div#image {
    display: inline;
    zoom: 1.2;
    padding-left: 10%
}

.sub-title {
    color: #8e1582;
    font-weight: bold;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    html,body {
        width: fit-content;
        height: fit-content;
        font-size: 1em;
    }
    div#image {
        display: inline;
        zoom: 0.6;
        justify-content: center;
        padding-left: 0%
    }
    #content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    div#p1 {
        width: auto;
    }

    #libreria {
        zoom: 0.5;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    html,
    body {
        width: fit-content;
        height: fit-content;
    }

    #content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    div#image {
        display: inline;
        zoom: 0.8;
        justify-content: center;
        padding-left: 0%
    }

    div#p1 {
        width: auto;
    }

    #libreria {
        zoom: 0.5;
    }
}