#title-site {
    color: #e5760d;
}

.menu-background {
    background-color: #e5760d;
}

.sub-title {
    color: #e5760d;
    font-weight: bold;
}

.sub-title2 {
    color: #e5760d;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title3 {
    font-style: italic;
}

.sub-title-section {
    color: #e5760d;
}

.button1 {
    background-color: white;
    color: #e5760d;
    border: 2px solid #e5760d;
}

.button1:hover {
    color: white;
    background-color: #e5760d;
}