#title-site {
    color: #8e1582;
}

.sub-title {
    color: #8e1582;
    font-weight: bold;
}

.sub-title2 {
    color: #8e1582;
    font-weight: bold;
    text-decoration: underline;
}

#title-centrale {
    font-size: 0.8em;
}